<div class="container text-center">
    <h2>Order Confirmation</h2>

    <p><b>Order ID:</b> @Model.Id</p>
    <p><b>Selected Pizza:</b> @Model.Pizza.Name</p>
    <p><b>Quantity:</b> @Model.Quantity</p>
    <p><b>Total Amount:</b> Rs. @Model.TotalAmount</p>

    <h5>Thank you for your order!<br />Your pizza will be delivered shortly.</h5>
</div>